<footer>
    <div>
        <ul>
            <li><h4><strong>Lorem</strong></h4></li>
            <li>Adipisci?</li>
            <li>Ducimus?</li>
            <li>Lorem.</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="https://wa.me/+54-555-6682449"><fa-icon class="icon" [icon]="faPhone"></fa-icon></a>+54 555-6682449</li>
            <li><a href="mailto:info@globomatics.com"><fa-icon class="icon" [icon]="faMailBulk"></fa-icon></a>Lorem ipsum dolor sit amet.</li>
            <li> <fa-icon class="icon" [icon]="faAddressBook"></fa-icon>A tempora corrupti</li>
        </ul>

    </div>
    <div>
        <p>Rerum dolore soluta nihil repellat placeat. Lorem ipsum dolor sit amet. Quaerat atque ipsa quas architecto earum labore.</p>
    </div>
</footer>
