<div class="home-div">
        <span class="pre-h1">Welcome to</span>
        <h1>Globomatics Bikes</h1>
</div>

<div>   
    <img src="../../../assets/img/bike_05.jpg" class="home-img" alt="bike picture background">
    <p class="home-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos eius asperiores <strong>repellendus</strong> unde ea enim quibusdam eveniet eligendi laborum nam dolor ipsa, sint molestiae maiores, dignissimos iste nisi odio, consequatur cupiditate quaerat delectus distinctio laboriosam. Dolores alias accusamus doloribus nesciunt nam, delectus mollitia sunt distinctio, veritatis debitis veniam facere enim?</p>

    <img src="../../../assets/img/bike_03.jpg" class="home-img img-inv" alt="bike picture background">
    <ul class="home-ul">
        <li><fa-icon class="tick" [icon]="faCheck"></fa-icon><strong>Lorem</strong>, ipsum dolor.</li>
        <li><fa-icon class="tick" [icon]="faCheck"></fa-icon><strong>Deleniti</strong>, magnam perferendis <fa-icon class="bike-icon" [icon]="faExclamation"></fa-icon></li>
        <li><fa-icon class="tick" [icon]="faCheck"></fa-icon><strong>Iusto</strong>, unde sit <fa-icon class="bike-icon" [icon]="faQuestion"></fa-icon></li>
        <li><fa-icon class="tick" [icon]="faCheck"></fa-icon><strong>Est</strong>, officiis ab.</li>
    </ul>

    <img src="../../../assets/img/bike_02.jpg" class="home-img" alt="bike picture background">
    <p class="home-p">Lorem ipsum dolor sit amet, <em> consectetur adipisicing elit</em>. Vero eveniet dolor molestiae nesciunt, quibusdam rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis alias sunt, nam facere dicta?</p>
</div>