<div class="regis">
    <div class="container">

        <div class="card text-light bg-dark mb-3" style="max-width: 70%;">
            <div class="card-header orange"><strong>User Registration</strong></div>
            <div class="card-body">
                <h5 class="card-title"><strong>Id:</strong> {{bikeRegister.id}}</h5>
                <h5 class="card-title"><strong>Name:</strong> {{bikeRegister.name}}</h5>
                <h5 class="card-title"><strong>Email:</strong> {{bikeRegister.email}}</h5>
                <h5 class="card-title"><strong>Phone:</strong> {{bikeRegister.phone}}</h5>
                <h5 class="card-title"><strong>Model:</strong> {{bikeRegister.model}}</h5>
                <h5 class="card-title"><strong>Serial N°:</strong> {{bikeRegister.serialNumber}}</h5>
                <h5 class="card-title"><strong>Price:</strong> {{bikeRegister.purchasePrice}}</h5>
                <h5 class="card-title"><strong>Date:</strong> {{bikeRegister.purchaseDate}}</h5>
                <h5 class="card-title"><strong>Contact:</strong> {{bikeRegister.contact}}</h5>
            </div>
        </div>

    </div>
</div>